Repository daniel-volpin/CSFloat, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, ci, docs, dependencies

.github/labeler.yml:

backend:
  - changed-files:
      any-glob-to-any-file:
        - 'backend/**'

frontend:
  - changed-files:
      any-glob-to-any-file:
        - 'frontend/**'

ci:
  - changed-files:
      any-glob-to-any-file:
        - '.github/**'
        - 'pyproject.toml'
        - '.pre-commit-config.yaml'
        - '.editorconfig'
        - '.flake8'

docs:
  - changed-files:
      any-glob-to-any-file:
        - '**/*.md'

dependencies:
  - changed-files:
      any-glob-to-any-file:
        - '**/requirements.txt'
        - '**/environment.yml'
        - '.github/dependabot.yml'

ci: auto-fix (autoflake, ruff) and auto-format (isort, black)
  backend/services/llm_client.py
Labels: backend

fix: update README.md to improve visibility of CI badges and navigation links
  README.md
Labels: docs

fix: update README.md to improve visibility of CI badges and navigation links (#8)
  README.md
Labels: docs

fix: update GitHub Actions workflow to use github-script for PR branch updates and improve pre-commit dependencies
  .github/workflows/update-pr-on-main.yml
  .pre-commit-config.yaml
Labels: ci

feat: add development setup instructions and dev-install target to Makefile
  Makefile
  README.md
Labels: docs

Feature/prs workflow (#9)
  .github/workflows/update-pr-on-main.yml
  .pre-commit-config.yaml
  Makefile
  README.md
Labels: ci, docs

fix: update README.md for improved structure and navigation
  README.md
Labels: docs

feat: implement filter sidebar component for enhanced listing filtering
  README.md
  frontend/app.py
  frontend/components/listings/filter_sidebar.py
Labels: frontend, docs

feat: add cache management endpoints and integrate CSFloat API for listings
  backend/api/__init__.py
  backend/api/analyze.py
  backend/api/cache.py
  backend/models/models.py
  backend/services/csfloat_client.py
  frontend/app.py
  frontend/client/backend_service.py
  frontend/client/csfloat_api.py
  frontend/components/listings/filter_sidebar.py
  frontend/components/listings/filters.py
  frontend/components/listings/listing_filters.py
  frontend/config/settings.py
Labels: backend, frontend

feat: add types-cachetools to requirements for type hinting support
  backend/requirements.txt
Labels: backend, dependencies

feat: refactor API structure and enhance listings functionality with new endpoints
  .github/ISSUE_TEMPLATE/bug_report.md
  backend/api/__init__.py
  backend/api/analyze.py
  backend/api/cache.py
  backend/api/listings.py
  backend/models/models.py
  backend/services/csfloat_client.py
  backend/services/csfloat_params.py
  frontend/app.py
  frontend/client/backend_client.py
  frontend/client/backend_service.py
  frontend/components/listings/listing_insights.py
Labels: backend, frontend, ci, docs

feat: implement settings management and HTTP client configuration for CSFloat API integration
  backend/config/settings.py
  backend/main.py
  backend/requirements.txt
  backend/services/csfloat_client.py
  backend/services/llm_client.py
  backend/services/openai_client.py
  frontend/client/backend_client.py
  frontend/requirements.txt
Labels: backend, frontend, dependencies

fix: update README.md for improved structure and navigation (#10)
  .github/ISSUE_TEMPLATE/bug_report.md
  README.md
  backend/api/__init__.py
  backend/api/analyze.py
  backend/api/cache.py
  backend/api/listings.py
  backend/config/settings.py
  backend/main.py
  backend/models/models.py
  backend/requirements.txt
  backend/services/csfloat_client.py
  backend/services/csfloat_params.py
  backend/services/llm_client.py
  backend/services/openai_client.py
  frontend/app.py
  frontend/client/backend_client.py
  frontend/client/backend_service.py
  frontend/components/listings/filter_sidebar.py
  frontend/components/listings/filters.py
  frontend/components/listings/listing_insights.py
  frontend/config/settings.py
  frontend/requirements.txt
Labels: backend, frontend, ci, docs, dependencies

feat: enhance caching mechanism with logging for cache hits, misses, and fetch durations
  backend/services/csfloat_client.py
Labels: backend

Maintenance/readme.md update (#11)
  backend/services/csfloat_client.py
Labels: backend

feat: enhance filter sidebar with structured rendering and centralized state management
  frontend/app.py
  frontend/components/listings/filter_sidebar.py
  frontend/config/settings.py
  frontend/models/filter_models.py
Labels: frontend

feat: add navigation links and improve sidebar filters in app layout
  frontend/app.py
  frontend/components/listings/filter_sidebar.py
  frontend/pages/1_Analysis.py
  frontend/pages/2_Settings.py
Labels: frontend

feat: refactor navigation to use tabs and remove unused pages
  .github/workflows/ci.yml
  frontend/app.py
  frontend/pages/1_Analysis.py
  frontend/pages/2_Settings.py
Labels: frontend, ci

feat: enhance analyze functionality with improved error handling and modal support
  backend/api/analyze.py
  backend/services/llm_client.py
  backend/services/openai_client.py
  frontend/app.py
Labels: backend, frontend

feat: enhance filter sidebar with structured rendering (#12)
  .github/workflows/ci.yml
  backend/api/analyze.py
  backend/services/llm_client.py
  backend/services/openai_client.py
  frontend/app.py
  frontend/components/listings/filter_sidebar.py
  frontend/config/settings.py
  frontend/models/filter_models.py
Labels: backend, frontend, ci

feat: add requirements-dev.txt and update installation instructions for dev tooling
  .github/workflows/ci.yml
  Makefile
  README.md
  requirements-dev.txt
Labels: ci, docs

Maintenance/codebase (#13)
  .github/workflows/ci.yml
  Makefile
  README.md
  backend/.env.example
  backend/api/__init__.py
  backend/api/analyze.py
  backend/api/item_names.py
  backend/config/settings.py
  backend/core/utils.py
  backend/main.py
  backend/services/csfloat_client.py
  backend/services/llm.py
  pytest.ini
  requirements-dev.txt
  tests/test_api_item_names.py
  tests/test_api_listings.py
  tests/test_csfloat_params.py
Labels: backend, ci, docs

Create ossar.yml
  .github/workflows/ossar.yml
Labels: ci

Create ossar.yml (#14)
  .github/workflows/ossar.yml
Labels: ci

Create summary.yml
  .github/workflows/summary.yml
Labels: ci

Create summary.yml (#15)
  .github/workflows/summary.yml
Labels: ci

feat: add support for LM Studio alongside OpenAI in AI analysis
  README.md
  backend/.env.example
  backend/api/__init__.py
  backend/api/models.py
  backend/config/settings.py
  backend/requirements.txt
  backend/services/llm_client.py
  backend/services/llm_registry.py
  backend/services/lmstudio_client.py
  frontend/client/backend_client.py
  frontend/components/listings/listing_insights.py
  frontend/utils/__init__.py
  tests/test_api_llm_models.py
Labels: backend, frontend, docs, dependencies

refactor: clean up comments and improve code readability across multiple files
  backend/api/__init__.py
  backend/api/analyze.py
  backend/api/item_names.py
  backend/main.py
  backend/services/csfloat_client.py
  backend/services/llm_client.py
  backend/services/lmstudio_client.py
Labels: backend

feat: implement LM Studio and OpenAI client integration with model listing and chat functionality
  backend/api/__init__.py
  backend/api/llm_models.py
  backend/services/llm/__init__.py
  backend/services/llm/formatting.py
  backend/services/llm/lmstudio_client.py
  backend/services/llm/openai_client.py
  backend/services/llm/registry.py
  backend/services/llm/router.py
  backend/services/llm/service.py
  backend/services/llm/types.py
  backend/services/llm_client.py
  backend/services/llm_registry.py
  backend/services/lmstudio_client.py
  backend/services/openai_client.py
Labels: backend

feat: add LLM models endpoint with response model
  backend/api/models.py
Labels: backend

feat: refactor CSFloat client integration and improve LLM service structure
  backend/api/analyze.py
  backend/api/item_names.py
  backend/api/listings.py
  backend/api/llm_models.py
  backend/api/models.py
  backend/main.py
  backend/services/csfloat/__init__.py
  backend/services/csfloat/client.py
  backend/services/csfloat/params.py
  backend/services/csfloat_client.py
  backend/services/csfloat_params.py
  backend/services/llm/client.py
  backend/services/llm/lmstudio_client.py
  backend/services/llm/openai_client.py
  backend/services/llm_client.py
  backend/services/llm_registry.py
  backend/services/openai_client.py
Labels: backend

feat: add new API endpoints for listings, item names, analysis, and LLM models
  .gitignore
  backend/features/analyze/router.py
  backend/features/item_names/router.py
  backend/features/listings/router.py
  backend/features/llm_models/router.py
  backend/features/models/router.py
  backend/main.py
Labels: backend

refactor: remove unused API endpoints and clean up import paths
  backend/api/__init__.py
  backend/api/analyze.py
  backend/api/cache.py
  backend/api/item_names.py
  backend/api/listings.py
  backend/api/llm_models.py
  backend/api/models.py
  backend/features/analyze/router.py
  backend/features/item_names/router.py
  backend/features/listings/router.py
  backend/features/llm_models/router.py
Labels: backend

fix: update API endpoint for listing LLM models to match new routing
  backend/features/llm_models/router.py
  frontend/client/backend_client.py
Labels: backend, frontend

feat: implement filter sidebar components and refactor filter rendering logic
  frontend/components/listings/filter_sidebar.py
  frontend/components/ui/basic_filters.py
  frontend/components/ui/filter_utils.py
  frontend/components/ui/float_and_rarity.py
  frontend/components/ui/item_details.py
  frontend/components/ui/misc_fields.py
  frontend/components/ui/price_filters.py
Labels: frontend

refactor: enhance filter and item models with descriptive field definitions
  frontend/models/filter_models.py
  frontend/models/listing_models.py
Labels: frontend

refactor: rename functions for consistency and improve listing display logic
  frontend/app.py
  frontend/components/listings/listing_list.py
  frontend/components/ui/item_card.py
  frontend/components/ui/main_header.py
  frontend/components/ui/section_expander.py
Labels: frontend

feat: implement filter sidebar and listings rendering with AI analysis capabilities
  README.md
  frontend/app.py
  frontend/components/listings/render_filter_sidebar.py
  frontend/components/listings/render_listings.py
  frontend/components/listings/render_listings_analysis.py
  frontend/pages/home.py
  frontend/pages/settings.py
  frontend/utils/dialogs.py
  frontend/utils/listings.py
  frontend/utils/session.py
Labels: frontend, docs

feat: add UI components for item rendering and filtering functionality
  frontend/components/ui/app_main_header_ui.py
  frontend/components/ui/item_card_display_ui.py
  frontend/components/ui/item_details_fields_ui.py
  frontend/components/ui/item_filter_utils.py
  frontend/components/ui/item_float_rarity_filters_ui.py
  frontend/components/ui/item_list_basic_filters_ui.py
  frontend/components/ui/item_misc_fields_ui.py
  frontend/components/ui/price_filters_ui.py
  frontend/components/ui/ui_section_expander.py
Labels: frontend

refactor: update import paths for UI components to improve consistency
  frontend/app.py
  frontend/components/listings/render_filter_sidebar.py
  frontend/components/listings/render_listings.py
  frontend/components/ui/item_details_fields_ui.py
  frontend/components/ui/item_float_rarity_filters_ui.py
  frontend/components/ui/item_list_basic_filters_ui.py
  frontend/components/ui/item_misc_fields_ui.py
  frontend/components/ui/price_filters_ui.py
Labels: frontend
