Repository daniel-volpin/CSFloat, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, ci, docs, dependencies

feat: add new feature modules and endpoints for item names, listings, and LLM models; update test cases
  backend/features/__init__.py
  backend/features/analyze/__init__.py
  backend/features/item_names/__init__.py
  backend/features/item_names/router.py
  backend/features/listings/__init__.py
  backend/features/listings/router.py
  backend/features/llm_models/__init__.py
  backend/features/models/__init__.py
  tests/test_api_item_names.py
  tests/test_api_item_names_endpoint.py
  tests/test_api_listings.py
  tests/test_api_listings_endpoint.py
  tests/test_api_llm_models.py
  tests/test_api_llm_models_endpoint.py
  tests/test_csfloat_params.py
  tests/test_csfloat_params_utils.py
Labels: backend

refactor: update import paths for ItemDTO to improve consistency; remove unused models
  backend/features/analyze/router.py
  backend/features/listings/router.py
  backend/features/models/__init__.py
  backend/features/models/router.py
  backend/models/item_dto.py
  backend/models/listing_query_params.py
  backend/services/llm/formatting.py
  backend/services/llm/service.py
Labels: backend

fix: update list_llm_models function to return LlmModelsResponse instead of a dict
  backend/features/llm_models/router.py
Labels: backend

feat: enhance error handling and type annotations across services and models
  backend/config/settings.py
  backend/core/exceptions.py
  backend/features/analyze/router.py
  backend/features/item_names/router.py
  backend/features/listings/router.py
  backend/features/llm_models/router.py
  backend/models/item_dto.py
  backend/services/csfloat/client.py
  backend/services/llm/client.py
  backend/services/llm/registry.py
  backend/services/llm/service.py
Labels: backend

feat: enhance type annotations and add docstrings for improved clarity and maintainability
  frontend/app.py
  frontend/client/backend_client.py
  frontend/components/listings/render_filter_sidebar.py
  frontend/components/listings/render_listings.py
  frontend/components/listings/render_listings_analysis.py
  frontend/components/ui/app_main_header_ui.py
  frontend/components/ui/item_card_display_ui.py
  frontend/components/ui/item_details_fields_ui.py
  frontend/components/ui/item_filter_utils.py
  frontend/components/ui/item_float_rarity_filters_ui.py
  frontend/components/ui/item_list_basic_filters_ui.py
  frontend/components/ui/item_misc_fields_ui.py
  frontend/components/ui/price_filters_ui.py
  frontend/components/ui/ui_section_expander.py
  frontend/config/settings.py
  frontend/models/filter_models.py
  frontend/models/listing_models.py
  frontend/pages/home.py
  frontend/pages/settings.py
  frontend/utils/dialogs.py
  frontend/utils/listings.py
  frontend/utils/session.py
Labels: frontend

refactor: remove unnecessary pass statement in BackendApiError class
  frontend/client/backend_client.py
Labels: frontend

refactor: remove unnecessary pass statements in custom exception classes
  backend/core/exceptions.py
Labels: backend

feat: update API endpoints for consistency and add health check endpoint
  backend/config/settings.py
  backend/features/analyze/router.py
  backend/main.py
  frontend/client/backend_client.py
  frontend/config/settings.py
Labels: backend, frontend

feat: refactor main application flow to enhance filter handling and integrate listings analysis
  frontend/app.py
  frontend/components/listings/render_listings.py
  frontend/components/listings/render_listings_analysis.py
  frontend/pages/home.py
  frontend/pages/settings.py
Labels: frontend

feat: add Reset Filters functionality and improve listings analysis display
  frontend/app.py
Labels: frontend

feat: enhance filter handling and add caching for listings analysis
  frontend/app.py
  frontend/components/listings/render_listings_analysis.py
Labels: frontend

feat: enhance filter handling and add caching for listings analysis
  frontend/components/listings/render_listings.py
Labels: frontend

feat: enhance error handling for upstream service calls and improve parameter normalization
  backend/features/item_names/router.py
  backend/features/listings/router.py
  backend/services/csfloat/params.py
  frontend/app.py
  frontend/client/backend_client.py
  frontend/components/listings/render_listings.py
  tests/test_api_item_names_endpoint.py
  tests/test_api_listings_endpoint.py
Labels: backend, frontend

feat: update price normalization tests to validate swapped and normalized values
  tests/test_csfloat_params_utils.py
Labels: none

Maintenance/cleanup (#17)
  backend/config/settings.py
  backend/core/exceptions.py
  backend/features/analyze/router.py
  backend/features/item_names/router.py
  backend/features/listings/router.py
  backend/features/llm_models/router.py
  backend/main.py
  backend/models/item_dto.py
  backend/services/csfloat/client.py
  backend/services/csfloat/params.py
  backend/services/llm/client.py
  backend/services/llm/registry.py
  backend/services/llm/service.py
  frontend/app.py
  frontend/client/backend_client.py
  frontend/components/listings/render_filter_sidebar.py
  frontend/components/listings/render_listings.py
  frontend/components/listings/render_listings_analysis.py
  frontend/components/ui/app_main_header_ui.py
  frontend/components/ui/item_card_display_ui.py
  frontend/components/ui/item_details_fields_ui.py
  frontend/components/ui/item_filter_utils.py
  frontend/components/ui/item_float_rarity_filters_ui.py
  frontend/components/ui/item_list_basic_filters_ui.py
  frontend/components/ui/item_misc_fields_ui.py
  frontend/components/ui/price_filters_ui.py
  frontend/components/ui/ui_section_expander.py
  frontend/config/settings.py
  frontend/models/filter_models.py
  frontend/models/listing_models.py
  frontend/pages/home.py
  frontend/pages/settings.py
  frontend/utils/dialogs.py
  frontend/utils/listings.py
  frontend/utils/session.py
  tests/test_api_item_names_endpoint.py
  tests/test_api_listings_endpoint.py
  tests/test_csfloat_params_utils.py
Labels: backend, frontend

.github/labeler.yml:

backend:
  - changed-files:
      any-glob-to-any-file:
        - 'backend/**'

frontend:
  - changed-files:
      any-glob-to-any-file:
        - 'frontend/**'

ci:
  - changed-files:
      any-glob-to-any-file:
        - '.github/**'
        - 'pyproject.toml'
        - '.pre-commit-config.yaml'
        - '.editorconfig'
        - '.flake8'

docs:
  - changed-files:
      any-glob-to-any-file:
        - '**/*.md'

dependencies:
  - changed-files:
      any-glob-to-any-file:
        - '**/requirements.txt'
        - '**/environment.yml'
        - '.github/dependabot.yml'
